<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Angular Developer</h2>
      <h3>Experience Required: 4 to 6 years</h3>
      <h4>Skills:</h4>
      <ul class="list-group">
        <li class="list-group-item">Proficiency with Angular version 2+.</li>
        <li class="list-group-item">
          Understanding of Typescript and JavaScript.
        </li>
        <li class="list-group-item">
          Working in team to achieve the tasks given.
        </li>
        <li class="list-group-item">
          Ability to work independently to achieve project targets.
        </li>
        <li class="list-group-item">
          Helping team members on technical challenges.
        </li>
        <li class="list-group-item">
          Logical thinking to create a program with minimal code.
        </li>
        <li class="list-group-item">Understanding of coding standards.</li>
        <li class="list-group-item">Should have good communication skills.</li>
      </ul>
      <h4>Responsibilities:</h4>
      <ul class="list-group">
        <li class="list-group-item">
          Developing new user- facing features using Angular.
        </li>
        <li class="list-group-item">
          Building reusable components and front-end libraries for future use.
        </li>
        <li class="list-group-item">
          Optimizing components for maximum Performance across a vast array of
          web-capable devices and browsers.
        </li>
        <li class="list-group-item">
          Translating designs and wire frames into high quality code.
        </li>
        <li class="list-group-item">
          Remain current on new technologies and available vendor packages;
          evaluate and make recommendations as necessary.
        </li>
      </ul>
    </div>
  </div>
</div>
